td {
    text-align: center;
    border:1px solid #000066;
    background:#ffffff;
}

table {
    margin: 0 auto;
    border-collapse:collapse;
}

th{
    border:1px solid #000066;
    background:royalblue;
}

.center {
    text-align: center;
}